<%- include('../components/headAdmin') %>
    <%- include('../components/dashboardMenu') %>
    <section class="dashboard">
        <section class="db-list-header">
            <h1>Product List</h1>
            <div class="cpb"><button id="create-product-btn" class="primary bold">Create Product</button></div>
        </section>
        <div class="table-small-screen">
            <p>Screen width is too small. Please flip your mobile device over to view table.<p>
        </div>
        <div class="product-list list">
            <table>
                <thead> 
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th class="tr-action">PRICE</th>
                        <th>CATEGORY</th>
                        <th>BRAND</th>
                        <th class="tr-action">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    ${products.map(product => `
                    <tr>
                        <td>${product._id}</td>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        <td>${product.category}</td>
                        <td>${product.brand}</td>
                        <td>
                            <button id="${product._id}" class="edit-btn">Edit</button>
                            <button id="${product._id}" class="delete-btn">Delete</button>
                        </td>
                        `).join('\n')
                    }
                </tbody>
            </table>
        </div>
        
    </section>

<%- include('../components/footer') %>