<%- include('../components/head'); %>
    <section class="banner">
        <div><img src="/images/woman-sunglasses.jpg" alt="woman with a big smile wearing sunglasses"></div>
        <section class="text">
            <h1>Save 20% Off Your First Purchase Today!</h1>
        </section>
    </section>
<%- include('../components/footer'); %>