{% extends 'base.html' %}

{% block content %}
    <section class="form-container box-shadow">
        <section>
            <h1><span><i class="fa-solid fa-key"></i></span>Forgot Your Password?</h1>
        </section>
        <div class="margin-top-1 text-align"><p>Enter in your email below in order to reset your password. Please follow the instructions provided in the email.</p></div>
        <form action="{% url 'forgot-password' %}" method="post" class="form">
            {% include 'components/alert-messages.html' %}
            {% csrf_token %}
            <div class="form-field">
                <label for="email">Email</label>
                <input required type="text" name="email" id="email" value="{{form.email.value | default_if_none:''}}">
            </div>
            <button aria-label="Forgot Password Button" type="submit" class="primary">SUBMIT</button>
        </form>
    </section>
{% endblock %}