{% extends 'base.html' %}

{% block content %}
    <section class="form-container box-shadow">
        <section>
            <h1><span><i class="fa-solid fa-key"></i></span>Reset Password</h1>
        </section>
        <form method="post" class="form">
            {% include 'components/alert-messages.html' %}
            {% csrf_token %}
            <div class="form-field">
                <label for="password">password</label>
                <input required type="password" name="password" id="password" value="{{form.password.value | default_if_none:''}}">
            </div>
            <button aria-label="Reset Password Button" type="submit" class="primary">RESET</button>
        </form>
    </section>
{% endblock %}