{% extends 'base.html' %}

{% block content %}
    <section class="form-container box-shadow">
        <section>
            <h1><span><i class="fa fa-sign-in"></i></span>Welcome Back!</h1>
        </section>
        <form action="{% url 'sign-in' %}" method="post" class="form">
            {% include 'components/alert-messages.html' %}
            {% csrf_token %}
            <div class="form-field">
                <label for="username">Username</label>
                <input required type="text" name="username" id="username" value="{{form.username.value | default_if_none:''}}">
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input required type="password" name="password" id="password" value="{{form.password.value | default_if_none:''}}">
            </div>
            <button aria-label="Sign-In Button" type="submit" class="primary">SIGN IN</button>
            <div class="form-links">
                <p>Forgot your password?</p><a href="{% url 'forgot-password' %}"><span>Reset Password</span></a>
            </div>
        </form>
    </section>
{% endblock %}