<header>
    <nav class="nav">
        <a href="/">
            <div class="brand">
                <i class="fa-brands fa-cotton-bureau"></i>
                <p>Clothez</p>
            </div>
        </a>
        <ul class="page-links">
            <li>
                <a href="/products/category/men">MEN</a>
            </li>
            <li>
                <a href="/products/category/women">WOMEN</a>
            </li>
            <li>
                <a href="/products/category/kids">KIDS</a>
            </li>
        </ul>
        <div class="search">
            <button class="sidebar-open-btn">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <form class="search-form" id="search-form"></form>
        </div>
        <div id="header-other" class="header-other"></div>
    </nav>
    <div class="search-m">
        <button id="sidebar-open-btn" class="sidebar-open-btn">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <form class="search-form" id="search-form"></form>
    </div>
</header>