<header>
    <nav class="nav">
        <a href="/">
            <div class="brand">
                <i class="fa-brands fa-cotton-bureau"></i>
                <p>Clothez</p>
            </div>
        </a>
        <ul class="page-links">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
        <div class="search">
            <div class="sidebar-btn-container">
                <button id="sidebar-open-btn" class="sidebar-open-btn">
                    <svg viewBox='0 0 10 8' width='20'>
                        <path d='M1 1h8M1 4h 8M1 7h8' 
                            stroke='#222' 
                            stroke-width='1' 
                            stroke-linecap='round'/>
                        </svg>
                </button>
            </div>
            <form class="search-form" id="search-form"></form>
        </div>
        <div id="header-other" class="header-other"></div>
    </nav>
</header>