<aside id="sidebar-container">
    <section class="sidebar-body">
        <section>
            <h2>SHOP BY CATEGORY</h2>
        </section>  
        <ul class="categories" id="categories">
            <li>
                <a href="/search?q=pants"> <i class="fa-brands fa-redhat"></i>Hats</a>
            </li> 
            <li>
                <a href="/search?q=shirt"><i class="fa-solid fa-shirt"></i>Shirts</a>
            </li>
            <li>
                <a href="/search?q=pants"><i class="fa-solid fa-socks"></i>Socks</a>
            </li> 
        </ul>
    </section>
    <button class="sidebar-close-btn" id="sidebar-close-btn">
        <i class="fa-solid fa-xmark"></i>
    </button>
</aside>