/*CART*/ 

.cart-container { 
    display: flex; flex-flow: row wrap; 
    margin: 0 auto; 
    max-width: 1440px; 
    padding: 2rem 5%; 
}
.cart-list { display: flex; flex-direction: column; width: 70%; margin-right: 5%; }
.cart-header { 
    display: flex; flex-direction: row; 
    align-items: baseline; justify-content: space-between; 
    margin-bottom: 1rem; 
}
.cart-header h1 { font-size: 32px; line-height: 64px; }
.cart-header h2 { font-size: 24px; line-height: 48px; }
.cart-list-container{ padding: 1rem 0; list-style: none; }
.cart-container h3 { font-size: 22px; line-height: 48px; text-align: center; }

.cart-list-container li { 
    display: flex; justify-content: space-between; 
}
.item-details { 
    display: flex; flex-flow: row wrap; 
    justify-content: space-between; 
    padding-bottom: 1rem; margin-bottom: 1rem; 
    border-bottom: .1rem #c0c0c0 solid; 
}
.item-details div { 
    display: flex;
    font-size: 18px; line-height: 32px; 
    align-items: center; 
}
.item-details img { width: 3.5rem; height: auto; }
.item-name { width: 200px; }
.cart-quantity-btns { display: flex; flex-direction: column; }
.cart-quantity-btns span { font-size: 24px; line-height: 24px; margin-left: 1rem; }
.cart-quantity-btns span:hover { cursor: pointer; }
.cart-price { 
    display: flex;     
    justify-content: right;
    width: 100px; 
}

.cart-action {
    display: flex; flex-direction: column; align-self: flex-start;
    width: 25%; 
    background-color: #e5e5e5; 
    border-radius: 20px; 
    padding: 1rem 2%; 
}
.cart-action section { margin-bottom: 1rem; }
.cart-action h2 { font-size: 20px; line-height: 40px; }
.cart-action a { 
    border-radius: 10px; text-align: center; 
    display: flex; margin: 0 auto; justify-content: center; 
    padding: 4px 0; 
    font-size: 18px; line-height: 32px; 
}
.cart-action a:hover { cursor: pointer; opacity: .8; }
.cart-action a:first-of-type { background-color: #FCCA3F; }
.cart-action a:last-of-type{ background-color: #F27430; margin-top: .5rem; }


/*WISHLIST*/

.wishlist-container .cart-list { width: 100%; }
.wishlist-btns div { margin: 0 4px; }
.wishlist-btns div:nth-child(1) button { background-color: #FCCA3F; }
.wishlist-btns div:nth-child(2) button { background-color: #999; }
@media only screen and (max-width: 900px) {    
    .cart-list { margin-right: 0%; }
    .cart-list, .cart-action { width: 100%; }  
    .cart-action { margin-top: 3rem; } 
}
@media only screen and (max-width: 576px) {
    .cart-img { margin-bottom: 1rem; }
    .cart-name { margin-top: -1rem; }  
    .cart-price { width: auto; }
    .cart-action { padding: 1rem 5%; } 
    .wishlist-btns { margin-top: 1rem; }
}


/*CHECKOUT*/

.checkout-header h1 { font-size: 40px; line-height: 64px; }
.checkout-container { 
    display: flex; flex-direction: row;
    max-width: 1440px;
    margin: 2rem auto 4rem auto;
    justify-content: space-between;
 }
.checkout-user-info, .checkout-order-info { 
    width: 50%;
    margin: 0 5%; 
}
.checkout-user-info { background-color: #ccc; border-radius: 10px; align-self: flex-start; }
.checkout-container section { margin-bottom: .5rem; }
.checkout-user-info h2 { font-size: 20px; line-height: 40px; }
.checkout-container button { background-color: #FCCA3F; }

.checkout-order-info { align-content: flex-start; }
.checkout-order-info h2 { font-size: 32px; line-height: 64px; }

.proceed-info p { text-align: center; font-size: 20px; line-height: 40px; font-weight: 700; }

.pay-pal-container { padding: 0 2%; }

@media only screen and (max-width: 800px) {
    .checkout-container { flex-direction: column-reverse; margin: 2rem 5% 4rem 5%; justify-content: center; }
    .checkout-user-info, .checkout-order-info { width: 100%; margin: 0; }
    .checkout-order-info { margin-bottom: 1rem !important; }
}
@media only screen and (max-width: 576px) { .pay-pal-container { padding: 0 5%; } }