* { 
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	border: none; 
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { 
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent; 
}

html { scroll-behavior: smooth; line-height:1.5; scroll-padding-top: 56px; }
html, body { min-height: 100vh; position: relative; }
body { font: 8px "Cabin", sans-serif; background-color: #dedede; }
main { padding: 56px 0; }

@media only screen and (max-width: 1200px) { 
	html { scroll-padding-top: 104px; }
	main { padding: 104px 0 56px 0 }
}
@media only screen and (max-width: 576px) { 
	main { padding: 104px 0 200px 0; } 
}

h1 { font-size: 72px;line-height: 96px; }
h2 { font-size: 48px;line-height: 72px; }
h3 { font-size: 32px;line-height: 64px; }
h4 { font-size: 24px;line-height: 48px; }
h5 { font-size: 21px;line-height: 40px; }
h1, h2, h3, h4 { font-weight: 700; }
p { font-size: 16px; line-height: 32px; }

button { border-radius: 20px; padding: 0 2rem; cursor: pointer; }

.b { font-weight: 700; }

a { color: #000; text-decoration: none; font-family: 'Cabin', sans-serif; }

label { font-weight: 600; font-size: 16px; line-height: 24px; }
input, button, textarea, select { 
	font-family: 'Cabin', sans-serif;
	font-size: 16px; line-height: 24px;
	padding: .5rem 1rem;
	border: none;
	border-radius: 10px;
	cursor: pointer; 
}

button:hover { opacity: .8; }
button.primary { background-color: #FCCA3F; }

.fw { width: 100%; }

.bold { font-weight: 700; } 

.hidden { display: none; }

/*BOX SHADOW*/
.box-shadow {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
	0px 2px 4px rgba(0,0,0,0.1), 
	0px 4px 8px rgba(0,0,0,0.1), 
	0px 8px 16px rgba(0,0,0,0.1);
}

/*LINK SPAN*/

.link-span { text-align: center; font-size: 18px; color: #111; }
.link-span span { font-size: 20px; border-bottom: 2px solid transparent; font-weight: 700;color: #111; }
.link-span span:hover { border-bottom: 2px solid #111; transition: .2s ease-in-out; }


/*MARGIN + PADDING*/

.margin-top-1 { margin-top: 1rem; }
.margin-top-2 { margin-top: 2rem; }
.margin-top-3 { margin-top: 3rem; }
.margin-top-4 { margin-top: 4rem; }
.margin-right-half { margin-right: .5rem; }
.margin-right-1 { margin-right: 1rem; }
.margin-right-2 { margin-right: 2rem; }
.margin-right-3 { margin-right: 3rem; }
.margin-right-4 { margin-right: 4rem; }
.margin-bottom-1 { margin-bottom: 1rem; }
.margin-bottom-2 { margin-bottom: 2rem; }
.margin-bottom-3 { margin-bottom: 3rem; }
.margin-bottom-4 { margin-bottom: 4rem; }
.margin-left-1 { margin-left: 1rem; }
.margin-left-2 { margin-left: 2rem; }
.margin-left-3 { margin-left: 3rem; }
.margin-left-4 { margin-left: 4rem; }
.padding-5 { padding: 0 5%; }

.text-align { text-align: center; }


/*HEADER*/

header { 
	height: 56px;
	background-color: #1C353D;
	padding: 0 2%;
	position: fixed;
	display: flex;
	justify-content: space-between; align-items: center;
	top: 0;
	width: 100%;
	z-index: 9999; 
}
header a, footer a { color: #fff; }

.brand { 
	display: flex; flex-direction: row; 
	align-items: center; 
	margin-right: 3rem;
}
.brand span { margin-right: .5rem; }
.brand span i { font-size: 30px; line-height: 56px; }
.brand p { font-size: 24px; line-height: 56px; font-style: italic; }

.nav { display: flex; justify-content: space-between; width: 100%; }
.nav ul { display: flex; flex-direction: row; align-items: center; }
.nav ul li { margin: 0 1rem; }
.nav ul li a { 
	font-size: 18px; line-height: 48px; 
	font-weight: 600; 
	letter-spacing: 1px; 
}

.header-cf { display: flex; align-items: center; }
.header-cf i { color: #fff; }
.header-cf p { margin: 0 0 1.5rem 4px; }

.ul-guest { min-width: 340px; }
.user-links ul { height: 56px; }
.user-links ul li a:hover { opacity: .5; }

.show-categories-nav { position: relative; display: flex; }
.categories-nav { 
	position: absolute;
	display: none;
	top: 32px; left: 50%; right: auto;
	background-color: #1C353D;
	flex-direction: column;
	text-align: center;
	transform: translate(-50%, 0);
	border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
	padding-top: 1rem; 
}
.categories-nav ul { flex-direction: column; }
.categories-nav ul li { height: 40px; margin: 0; }
.categories-nav ul li a { 
	font-size: 16px; line-height: 40px;
	height: 40px;
	display: flex;
	font-weight: 600;
	padding: 0 1rem; 
}
.show-categories-nav:hover .categories-nav { display: flex; }
.categories-nav ul li a:hover { opacity: .5;  }
  

/*SEARCH BAR*/

.search { 
	display: flex; flex-direction: row; 
	align-items: center; 
	width: 100%;
}

.sidebar-open-btn { 
	padding: 0 10px 0 12px;
	border-radius: 20px;
	font-size: 24px; line-height: 40px;
	height: 40px;
	background-color: #c0c0c0;
	margin-right: 1rem;
	border-top-right-radius: 0; border-bottom-right-radius: 0;
	display: none;
	align-items: center; 
}

.search-form { margin-left: -1rem; display: flex; width: 100%; }
.search-form input { 
	border-right: none; 
	border-top-right-radius: 0; border-bottom-right-radius: 0; 
	border-top-left-radius: 20px; border-bottom-left-radius: 20px;
	float: left;
	width: 100%; 
	margin-bottom: 0;
	background-color: #f3f3f3;
 }
.search-form button { 
	border-top-right-radius: 20px ;border-bottom-right-radius: 20px;
	border-top-left-radius: 0; border-bottom-left-radius: 0;
	background-color: #f3f3f3;
	color: #222;
	height: 40px; 
}
.search-form button:hover { opacity: .9; transition: .3s ease-in-out; }
.search-form::after { content: ''; clear: both; display: table; }

.search-m { display: none; padding-bottom: 13px; width: 100%; }
.search-m input { width: 100%; }


/*FOOTER*/

footer { 
	position: absolute;
	bottom: 0; 
	width: 100%; height: 56px;
	background-color: #1C353D;
	display: flex; 
	justify-content: space-between; align-items: center;
	color: #fff;
	padding: 0 2%;
	z-index: 4; 
}
footer p { font-size: 20px;line-height: 40px; }
footer .nav { width: auto; }
footer .nav ul li a { font-size: 16px;border-bottom: solid 3px transparent; }
footer .nav ul li a:hover { border-bottom: solid 3px #fff;transition: .2s ease-in-out; }


@media only screen and (max-width: 1200px) { 
	header { height: 104px; flex-direction: column;}
	header .nav ul:nth-child(2)  { display: none }
	.sidebar-open-btn { display: flex }
	.search-form input { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
	.search { display: none } 
	.search-m { display: flex; }
}

@media only screen and (max-width: 576px) { 
	.brand { margin-right: 3rem;}
	header .page-links  { display: none }
	.user-links li:nth-child(1), .user-links li:nth-child(2) { display: none; }
	.ul-guest { min-width: auto; }

	footer { 
		padding-top: 1rem; 
		height: 200px; 
		flex-direction: column; align-items: flex-start; 
	}
	footer div { margin-left: 1rem }
	footer .nav ul { flex-direction: column; align-items: flex-start; }
}


/*SIDEBAR*/

aside { 
	position: fixed;
	display: none;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 4;
	top: 104px; bottom: 0; 
}

.sidebar-body { 
	height: 100%; width: 15rem;
	padding-top: 2rem;
	background-color: #fff;
	overflow-y: scroll; 
}
.sidebar-body h2 { font-size: 20px; line-height: 40px; text-align: center; }

.sidebar-close-btn { 
	position: absolute;
	top: 0; left: 16rem;
	width: 40px;
	font-size: 3rem; line-height: 40px;
	font-weight: 700;
	cursor: pointer;
	padding: 0;
	color: #222;
	border-radius: 50%;
	background-color: transparent; 
}
.sidebar-close-btn:hover { opacity: .5; background-color: #dedede; transition: .5s ease-in-out; }

.show-categories-sidebar { margin-top: 1rem; }
.show-categories-sidebar li  { 
	display: flex; flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: auto; width: 15rem;
	align-items: center; 
}

.show-categories-sidebar li a  { font-size: 20px; line-height: 64px; font-weight: 700; }
.show-categories-sidebar li a { height: auto ;width: 15rem; padding: 0 10%; }
.show-categories-sidebar li a:hover { background-color: #7A99A3;cursor: pointer; }

.categories-sidebar { display: flex; flex-direction: column; text-align: center; }
.categories-sidebar ul li { height: 40px;margin: 0; }
.categories-sidebar ul li a { 
	font-size: 16px; line-height: 40px;
	font-weight: 600;
	height: 40px;
	display: flex;
	padding: 0 10%; 
}

@media only screen and (max-width: 1200px) { .sidebar-close-btn { top: 56px;} }
@media only screen and (max-width: 576px) { aside { bottom: 200px;} }


/*MESSAGES*/

.alert-message {
	text-align: center; width: 100%;
	margin-bottom: .5rem;
	border-radius: 10px;
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	font-size: 20px; line-height: 32px;
}

.fade-out { animation: fade-out 5000ms; }
@keyframes fade-out { 0% { opacity: 100%; } 100% { opacity: 0;} }

.success {  margin-bottom: 1rem; }
.error, .error-text, .success, .success-text { 
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	font-size: 20px; line-height: 32px;
}
.error { background-color: #FF6459; color: #7A251F; }
.error-text { color: #BA382F; }
.success { background-color: #59BA41; color: #fff; }
.success-text { color: #346E26; }


/*PAGE-HEADER*/

.page-header { text-align: center; margin: 2rem 0; }


/*BANNER*/
  
.banner {
	position: relative; 
	display: flex; margin: 0 auto; justify-content: center;
	max-width: 1440px;
}
.text { 
	background-color: rgba(0, 0, 0, 0.5);
	color: #f2f2f2;
	position: absolute;
	bottom: 0px;
	margin-bottom: 2px;
	width: 100%;
	text-align: center; 
}
.banner div { width: 100%; }
.banner div img { 
	background-repeat: no-repeat; background-position: center top; background-size: cover;
	max-height: 672px; width: 100%;
	object-fit: cover; 
}

@media only screen and (max-width: 1100px) { .text h1 { font-size: 48px; line-height: 72px;} }
@media only screen and (max-width: 576px) { .text h1 { font-size: 24px; line-height: 48px;} }


/*PRODUCTS*/

.products-container { margin: 0 auto; max-width: 1696px; }
.products-container section:nth-child(1), .products-header { margin: 3rem 0 0 1rem; }
.products { 
	display: grid;
	grid-template-columns: repeat(auto-fit, 272px);
	list-style: none;
	margin-bottom: 4rem;
	justify-content: center; 
}
.products li { 
	width: 100%; max-width: 240px;
	height: 20rem; margin: 2rem auto;
	border-radius: 20px;
}
.product { 
	display: flex; flex-direction: column;
	margin: 0 auto;
	justify-content: space-around;
	height: 100%;
	padding: 0 5%
	;background-color: #fff;
	border-radius: 20px; 
}
.product-img { display: flex; justify-content: center; }
.product-img img { width: 100%; max-width: auto; height: auto; margin-top: 1rem; }
.product-name h4 { font-size: 18px ;line-height: 24px; color: #111; }
.product-price p { font-size: 16px; line-height: 24px; font-weight: 700; color: #111; }

.rating { color: #FCCA3F;font-size: 16px;line-height: 32px; }
.rating span:last-child { color: #111;font-size: 16px;line-height: 24px;font-weight: 700;margin-left: .5rem; }


/*FORM*/

.form-container { 
	display: flex; flex-direction: column;
	justify-content: center; align-items: center; 
	width: 100%; max-width: 600px; 
	background-color: #b2b2b2; 
	margin: 2rem auto 4rem auto;
	padding: 2rem 1% 0 1%;
	border-radius: 20px;

}
.form { 
	display: flex; flex-direction: column;
	list-style: none;
	width: 100%; 
	padding: 1.5rem 2%;
}
.form-container section h1, .form-container section h2 { font-size: 24px; line-height: 32px; text-align: center; }
.form-container section span { margin-right: .5rem; }

.form-field, .form-links { 
	margin-top: 3rem;
	background-color: #dedede;
	padding: .5rem 5%;
	border-radius: 10px;
	display: flex; flex-direction: row; justify-content: space-between; 
}
.form-field { 
	display: flex; flex-direction: column;
	background-color: transparent;
	border-radius: 0;
	margin-top: 0; padding: 0;
}
.form-field, .form-links p { color: #111; }

label { margin-bottom: .5rem; }
.form input { border-radius: 10px; }
.form input:focus { outline: 2px solid #59BA41; }
.form input, .form textarea { margin-bottom: 1rem; }

.form a { color: #111; font-weight: 700; }
.form a span { font-size: 16px; line-height: 32px; border-bottom: 2px solid transparent; }
.form a span:hover { border-bottom: 2px solid #111; transition: .2s ease-in-out; }

.form button { 
	border-radius: 10px; 
	margin-top: 1rem; 
	font-weight: 700; 
	font-size: 20px; line-height: 24px; 
}

@media only screen and (max-width: 576px) { .form { padding: 1.5rem 5%; } }


/*ANIMATIONS*/

.js-scroll { opacity: 0;transition: opacity 500ms;
}  
.js-scroll.scrolled { opacity: 1; }
.scrolled.fade-in { animation: fade-in 1s ease-in-out both; }
.scrolled.fade-in-bottom { animation: fade-in-bottom 1s ease-in-out both; }
.scrolled.fade-in-bottom2 { animation: fade-in-bottom2 1s ease-in-out both; }
.scrolled.fade-in-bottom3 { animation: fade-in-bottom3 1s ease-in-out both; }
.scrolled.slide-left { animation: slide-in-left 1s ease-in-out both; }
.scrolled.slide-right { animation: slide-in-right 1s ease-in-out both; }

.fade-in-no-scroll { animation: fade-in 1s ease-in-out both; }

.fade-in-longer { animation: fade-in 2s ease-in-out both; }

@keyframes fade-in { 0% { opacity: 0;} 100% { opacity: 1;} }
@keyframes fade-in-bottom { 
	0% {   
		-webkit-transform: translateY(50px);  
		transform: translateY(50px);  
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0);  
		transform: translateY(0);  
		opacity: 1;
	}
}
@keyframes slide-in-left { 
	0% {   
		-webkit-transform: translateX(-100px);  
		transform: translateX(-100px);  
		opacity: 0;
	}
	100% {   
		-webkit-transform: translateX(0);  
		transform: translateX(0);  
		opacity: 1;
	}
}
@keyframes slide-in-right { 
	0% {   
		-webkit-transform: translateX(100px);  
		transform: translateX(100px);  
		opacity: 0;
	}
	100% {   
		-webkit-transform: translateX(0);  
		transform: translateX(0); 
		opacity: 1;
	}
}


/*CHAT POPUP*/

.open-popup { 
	background-color: #1C353D; color: #fff;
	padding: 1rem;
	border: none;
	cursor: pointer;
	position: fixed;
	bottom: 56px; right: 32px;
	width: 56px; height: 56px;
	border-radius: 20px; 
}
.open-popup i { font-size: 1.5rem; line-height: 1.5rem; }
.chat-popup { 
	display: none;
	position: fixed;
	flex-direction: column;
	bottom: 56px; right: 32px; 
	z-index: 9;
	color: #0c0c0d;
	background-color: #DEDEDE;
	width: 200px;
	padding: .5rem 1%;
	border-radius: 20px;
	text-align: center; 
}
.contact-icons { display: flex; flex-flow: row wrap; justify-content: space-around; }
.contact-icons li { 
	width: 50%; 
	display: flex; margin: .5rem auto; justify-content: center; align-items: center; 
}
.contact-icons li a i { font-size: 32px; line-height: 48px; color: #111; }
.contact-icons li a i:hover { transform: scale(1.1); animation: pulse 1s infinite; animation-timing-function: linear; }

@keyframes pulse  { 0% { transform: scale(1); }50% { transform: scale(1.2);} }

.chat-cancel { 
	background-color: #C73C32; color: #fff;
	margin: 1rem 0 .5rem 0; padding: .5rem;
	border: none;
	cursor: pointer;
	width: 100%; }
.chat-cancel:hover { opacity: .8; }

@media only screen and (max-width: 576px) { 
	.open-button, .chat-popup { bottom: 224px; } 
}


/*MY ACCOUNT*/

.my-account-header { max-width: 1800px; margin: 1rem 0 2rem 2.5%; }
.my-account-header h1 { font-size: 48px; line-height: 72px; }

.my-account-container { 
	max-width: 1800px;
	margin: 0 auto; margin-bottom: 4rem;
	justify-content: space-between;
	display: flex; flex-direction: row;
}
.my-account-user-orders, .my-account-user-info { 
	width: 50%; margin: 2rem 2.5% 4rem 2.5%;
 }
 .my-account-user-orders h2 { font-size: 32px; line-height: 64px; }
.my-account-user-orders .line {
	border-bottom: 2px solid #222;
	display: flex; flex-direction: row;
	margin: 0 auto; margin-bottom: 1rem; padding: 0 1%;
	justify-content: space-between;
}
.my-account-user-orders .line div p { font-size: 20px; line-height: 40px; }
.my-account-user-orders ul li { 
	display: flex; flex-direction: row;
	margin: 0 auto; justify-content: space-between;
	padding: 0 1%;
}

@media only screen and (max-width: 600px) {
	.my-account-container { flex-direction: column; padding: 0 5%; }
	.my-account-user-orders, .my-account-user-info { 
		width: 100%; margin: 0 auto;
	}
	.my-account-user-info { margin-top: 4rem; }
}