{% extends 'base.html' %}

{% block content %}
    <section class="{% if order.get_cart_total %}cart-container{% else %}cart-container wishlist-container{% endif %}">
        <section class="cart-list">
            <section class="cart-header">
                <section><h1>Shopping Cart</h2></section>
                <section><h2>Price</h2></section>
            </section>
            <ul id="cart-list-container" class="cart-list-container">
                {% if not items %}
                    <h3><a class="link-span" href="{% url 'index' %}">Cart is Empty. Click <span class="bold">HERE</span> to Start Shopping!</a></h3>
                {% else %}        
                    {% for item in items %}
                        <li class="item-details">
                            <div>
                                <a href="{% url 'product' item.product.id %}">
                                    <div class="cart-img">
                                        <img src="{{item.product.imageURL}}" alt="{{item.product.name}}">
                                    </div>
                                </a>
                            </div>
                            <div class="item-name"><a href="{% url 'product' item.product.id %}">{{item.product.name}}</a></div>
                            <div>
                                Qty: <span class="margin-right-half"></span>
                                <div><p>{{item.quantity}}</p></div>
                                <div class="cart-quantity-btns">
                                    <span data-product="{{item.product.id}}" data-action="add" class="update-cart"><i class="fa-solid fa-caret-up"></i></span>
                                    <span data-product="{{item.product.id}}" data-action="remove" class="update-cart"><i class="fa-solid fa-caret-down"></i></span>
                                </div>
                            </div>
                            <div class="cart-price">
                                {{item.product.price | floatformat:2}}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
        {% if order.get_cart_total %}
            <section class="cart-action box-shadow">
                <section id="cart-subtotal">
                    <h3>Total: ${{order.get_cart_total|floatformat:2}}</h3>
                </section>
                <a href="{% url 'checkout' %}" id="checkout-btn" class="primary fw">Proceed to Checkout</a>
                <a href="{% url 'index' %}" id="continue-shopping-btn" class="primary fw">Continue Shopping</a>
            </section>
        {% endif %}
    </section>
{% endblock %}