{% extends 'base.html' %}

{% block content %}
    {% include 'components/alert-messages.html' %}
    <section class="banner">
        <div>
            <img src="{{banner.image.url}}" alt="{{banner.image_description}}">
        </div>
        <section class="text">
            <h1>{{banner.text}}</h1>
        </section>
    </section>
    <section class="products-container">
        <section class="products-container-header"><h2>Latest Products</h2></section>
        <ul class="products">
            {% for product in latest_products %}
                {% include 'components/products-li.html' %}
            {% endfor %}
        </ul>
    </section>
    <section class="products-container">
        <section class="products-container-header"><h2>Men's</h2></section>
        <ul class="products">
            {% for product in mens_products %}
                {% include 'components/products-li.html' %}
            {% endfor %}
        </ul>
    </section>
    <section class="products-container">
        <section class="products-container-header"><h2>Women's</h2></section>
        <ul class="products">
            {% for product in womens_products %}
                {% include 'components/products-li.html' %}
            {% endfor %}
        </ul>
    </section>
    <section class="products-container">
        <section class="products-container-header"><h2>Unisex</h2></section>
        <ul class="products">
            {% for product in unisex_products %}
                {% include 'components/products-li.html' %}
            {% endfor %}
        </ul>
    </section>

{% endblock %}