{% extends 'base.html' %}

{% block content %}
    <section class="page-header"><h1>SEARCH</h1></section>
    <div class="categories">
        <ul>
            {% for category in search_options %}
                <li>{{category.category}}</li>
            {% endfor %}
        </ul>     
        <ul>
            {% for type in search_options %}
                <li>{{type.type}}</li>
            {% endfor %}
        </ul>      
        <ul>
            {% for gender in search_options %}
                <li>{{gender.type}}</li>
            {% endfor %}
        </ul>      
    </div>
    <section class="products-container search-container">
        <ul class="products">
            {% for product in products %}
                <li>
                    <a href="{% url 'product' product.id %}" target="_blank" class="product box-shadow">                        
                        <div class="product-img">
                            <img src="{{product.image.url}}" alt="{{product.name}}">
                        </div> 
                        <section class="product-name">
                            <h4>{{product.name}}</h4> 
                        </section>
                        {% include 'components/product-rating.html' %}
                        <div class="product-price">
                            <p>${{product.price|floatformat:2}}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}