{% extends 'base.html' %}

{% block content %}
    <section class="cart-container wishlist-container">
        <section class="cart-list">
            <section class="cart-header">
                <section><h1>Wishlist</h2></section>
                <section><h2>Price</h2></section>
            </section>
            <ul id="cart-list-container" class="cart-list-container">
                {% if not wishlist_items %}
                    <h3><a class="link-span" href="{% url 'index' %}">Wishlist is Empty. Click <span class="bold">HERE</span> to View Our Listings!</a></h3>
                {% else %}       
                    {% for item in items %}
                        <li class="item-details">
                            <div>
                                <a href="{% url 'product' item.product.id %}">
                                    <div class="cart-img">
                                        <img src="{{item.product.imageURL}}" alt="{{item.product.name}}">
                                    </div>
                                </a>
                            </div>
                            <div class="item-name"><a href="{% url 'product' item.product.id %}">{{item.product.name}}</a></div>
                            <div class="wishlist-btns">
                                <div><button data-product="{{item.product.id}}" data-price="{{item.product.price}}" data-action="add-to-cart-from-wishlist" aria-label="Add to Cart Button" type="submit" class="update-btn">Add to Cart</button></div>
                                <div><button data-product="{{item.product.id}}" data-price="{{item.product.price}}" data-action="remove-from-wishlist" aria-label="Delete from Wishlist Button" type="submit" class="update-btn">Delete</button></div>
                            </div>
                            <div class="cart-price">
                                {{item.product.price | floatformat:2}}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </section>
{% endblock %}