<div class="rating">
    <span>
        <i class="
            {% if product.rating >= 1 %}
                fa-solid fa-star
            {% elif product.rating >= .5 %}
                fa-solid fa-star-half
            {% else %}
                fa-regular fa-star
            {% endif %}"></i>
    </span>
    <span>
        <i class="  
            {% if product.rating >= 2 %}
                fa-solid fa-star
            {% elif product.rating >= 1.5 %} 
                fa-solid fa-star-half
            {% else %}
                fa-regular fa-star
            {% endif %}"></i>
    </span>
    <span>
        <i class="  
            {% if product.rating >= 3 %}
                fa-solid fa-star
            {% elif product.rating >= 2.5 %} 
                fa-solid fa-star-half
            {% else %}
                fa-regular fa-star
            {% endif %}"></i>
    </span>
    <span>
        <i class="  
            {% if product.rating >= 4 %}
                fa-solid fa-star
            {% elif product.rating >= 3.5 %} 
                fa-solid fa-star-half
            {% else %}
                fa-regular fa-star
            {% endif %}"></i>
    </span>
    <span>
        <i class="  
            {% if product.rating >= 5 %}
                fa-solid fa-star
            {% elif product.rating >= 4.5 %}
                fa-solid fa-star-half
            {% else %}
                fa-regular fa-star
            {% endif %}"></i>
    </span>
    <span>
        {% if not product.num_reviews  %}
            No reviews
        {% elif product.num_reviews == 1 %}
            1 Review
        {% else %}
            {{product.num_reviews}} Reviews
        {% endif %}
    </span>
</div>